
apiVersion: v1
kind: Service
metadata:
  name: {{ include "dpio-user-management-api.fullname" . }}
  labels:
    {{- include "dpio-user-management-api.labels" . | nindent 4 }}
    {{- if .Values.service }}
    {{- range $key, $value := .Values.service.labels }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
  annotations:
    {{- if .Values.service }}
    {{- range $key, $value := .Values.service.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "dpio-user-management-api.selectorLabels" . | nindent 4 }}
